In [1]:
import numpy as np
import pandas as pd

In [5]:
df =pd.read_csv('files/trees.csv', index_col='Index')

In [6]:
df.head()

        Girth (in)   Height (ft)   Volume(ft^3)
Index
1              8.3            70           10.3
2              8.6            65           10.3
3              8.8            63           10.2
4             10.5            72           16.4
5             10.7            81           18.8

In [7]:
df.describe()

        Girth (in)   Height (ft)   Volume(ft^3)
count    31.000000     31.000000      31.000000
mean     13.248387     76.000000      30.170968
std       3.138139      6.371813      16.437846
min       8.300000     63.000000      10.200000
25%      11.050000     72.000000      19.400000
50%      12.900000     76.000000      24.200000
75%      15.250000     80.000000      37.300000
max      20.600000     87.000000      77.000000

In [8]:
df.shape

(31, 3)

In [9]:
df.columns

Index([' Girth (in)', ' Height (ft)', ' Volume(ft^3)'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 1 to 31
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0    Girth (in)    31 non-null     float64
 1    Height (ft)   31 non-null     int64
 2    Volume(ft^3)  31 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 992.0 bytes